{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "@vue/typescript/recommended",
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended"
    ],
    "plugins": [
        "nuxt",
        "@typescript-eslint"
    ],
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "func-call-spacing": "off",
        "vue/html-indent": "off",
        "vue/html-closing-bracket-spacing": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-extra-semi": "off",
        "vue/multi-word-component-names": "off",
        "no-tabs": "off",
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "linebreak-style": "off",
        "no-spaced-func": "off",
        "max-len": "off"
    }
}
