* {
  font-family: 'Rubik', sans-serif;
}

.container {
  @include contain(1220px);
  padding: 0 10px;
}

.container-lg {
  @include contain(1390px);
  padding: 0 10px;
}

.title-h1 {
  font-weight: 700;
  font-size: adpval(28, 38);
  line-height: 37px;
  color: $merenga-black;
}

.title-h2 {
  font-weight: 700;
  font-size: adpval(23, 32);
  color: $merenga-black;
}

.title-h3 {
  font-weight: 700;
  font-size: adpval(20, 28);
  color: $merenga-black;
}

